lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock.json

pids
logs
results

node_modules
npm-debug.log
build

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*

Edge.Tests.*
node.exe
Sample105.*

.DS_Store
*.sublime-project
*.sublime-workspace

.cproject
.project
.metadata/
.settings/

adhoc/
